.account {
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 15px;
}
.account-nav-bar {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    border: 1px solid red;
}
.account-nav-bar button {
    border: none;
    background: none;
    font-family: rubik;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.538);
    cursor: pointer;
    transition: .3s;
}
button.active {
    color: black;
    position:relative;
}
button.active::before {
    position: absolute;
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid var(--flash-1);
    left: -10px;
    top: 50%;
    transform: translateY(-60%);
}
/* PROFILE COMPONENT */
.profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile > * {
    background: var(--component-background);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
}
.profile h3 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.352);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.personal-info {
    display: flex;
    flex-direction: column;
}
.personal-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-bottom: 20px;
}
.personal-details p {
    text-align: right;
    color: rgba(0, 0, 0, 0.592);
    font-style: italic;
}
.personal-info button{
    align-self: flex-end;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1em;
}   




/* MEMBERSHIP COMPONENT */