/* Global and Root Styles */
body {
    margin: 0;
}
.root-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 225px 1fr;
}
.root-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    gap: 20px;
    padding: 15px;
}
.root-nav button {
    margin-top: auto;
    margin-bottom: 50px;
}

