/* Global and Root Styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: rgb(240, 240, 240);
    --box-shadow: rgb(216, 216, 216);
    --box-highlight: white;
}
body {
    margin: 0;
    background: var(--background-color);
    font-family: "rubik";
}
.root-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 225px 1fr;
}
.root-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background: var(--background-color);
    box-shadow: 3px 0px 10px var(--box-shadow);
    
}
.nav-header {
    display: flex;
    align-items: center;
    font-style: italic;
}
.nav-header img {
    height: 50px;
}
.root-nav button {
    margin-top: auto;
    margin-bottom: 50px;
}
.root-main {
    padding: 20px;
}
    /* Page Layout */

.page-header {
    background: var(--background-color);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--box-shadow),
    -2px -2px 5px var(--box-highlight);
    margin-bottom: 20px;
}

